/* shared styles */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    
}
.game-teg{
     
     font-size: 2.8rem;
     font-weight: 700;

}
.nav-container span{
     color: #FF42A5;
}
.game-teg-img{
    width: 90px;
    height: 40px;
}
.text-gray{
    color: #3C354F;
font-size: 1rem;
font-weight: 500;

}
/* header styles */
/* nav bar styles  */
.nav-container{
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
nav >ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
}
.follow-us{
    color: #3C354F;
    text-align: center;
font-size: 1rem;
font-weight: 500;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding-top: 15px;
padding-bottom: 15px;
padding-left: 24px;
padding-right: 90px;}
.nav-container i{
    display: inline;
    padding-left: 24px;
    padding-right: 10px;
}

/* banner styles  */
.banner-container{
    display: flex;
    gap: 70px;
}
.banner-content{
    width: 500px;
    padding :100px;
    text-align: left;
    background-image: url("/images/Group\ 14.png");
    background-size: 100%;
}
.banner-img img{
    width: 100%;
}
.banner-content span{
    font-size: 3rem;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
    color: antiquewhite;
    background-color: #F948B2;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
.btn-2{
    color: antiquewhite;
    background-color: #4EC5F7;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
} 


/* main styles */
.video-title{
    padding-top: 100px;
    text-align: center;
}
.video-cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    padding: 0 20px;
}
.card{
    height: 400px;
    width: 300px;
     border-radius: 5px; 
}
.card img{
    height: 300px;
    width: 300px;
    
}



/* responsivenes styles */
@media screen and (max-width:450px) {
    header{
        align-items: center;
    }
    .nav-container  , .banner-container{

        
        flex-direction: column;
        text-align: center;
    }
    nav>ul{
        text-align: center;
        flex-direction: column;
    }
    .follow-us{
        padding-top: 0;
        padding-right: 0;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        width: 200px;
        height: 100px;
        background-size: 100%;
    }
    .banner-write-part{
        position: relative;
        bottom:  100px;
    }
}
